@import '_header', '_container', '_projects', '_title', '_education', '_contact', '_about', '_mediaQueries';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}