@import 'header', 'container', 'projects', 'title', 'education', 'grid', 'contact', 'blob', 'about';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;


}